name: Elasticsearch Sample API Tests

on:
  workflow_dispatch:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    environment: ES_ENVIRONMENT

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Start Elasticsearch
        uses: getong/elasticsearch-action@v1.3
        with:
          elasticsearch version: '8.11.0'
          host port: 9200
      - name: Setup Inso CLI
        uses: kong/setup-inso@v2
        with:
          inso-version: '11.3.0'
      - name: Wait for Elasticsearch
        run: |
          until curl -s http://localhost:9200 >/dev/null; do
            echo "Waiting for Elasticsearch..."
            sleep 3
          done
      - name: Run Elasticsearch API tests
        run: |
          inso run collection "Sample Elasticsearch Collection" \
            --workingDir ./Elasticsearch_API_Collection.yaml \
            --env "ES_ENVIRONMENT" \
            --env-var "ES_URL=http://localhost:9200" \
            --env-var "ES_API_KEY=${{ secrets.ES_API_KEY }}" \
            --env-var "ES_INDEX_NAME=${{ secrets.ES_INDEX_NAME }}"
