name: Elasticsearch Sample API Tests

on:
  workflow_dispatch:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    environment: ES_ENVIRONMENT

    strategy:
      matrix:
        elasticsearch: ["6.8-SNAPSHOT", "7.x-SNAPSHOT", "8.18.0-SNAPSHOT", "9.0.0-SNAPSHOT"]
    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Configure sysctl limits
        run: |
          sudo swapoff -a
          sudo sysctl -w vm.swappiness=1
          sudo sysctl -w fs.file-max=262144
          sudo sysctl -w vm.max_map_count=262144

      - name: Start Elasticsearch
        uses: ./elasticsearch
        with:
          security-enabled: false
          stack-version: ${{ matrix.elasticsearch }}

      - name: Elasticsearch is reachable
        run: |
          curl --verbose --show-error http://localhost:9200







    # steps:
    #   - name: Checkout Code
    #     uses: actions/checkout@v4

    #   - name: Run Elasticsearch
    #     uses: getong/elasticsearch-action@v1.3
    #     with:
    #       elasticsearch version: '8.11.0'
    #       host port: 9200

    #   - name: Install Newman
    #     run: npm install -g newman

    #   - name: Run API Collection
    #     run: |
    #       newman run Elasticsearch_API_Collection.yaml \
    #         --env-var ES_URL=http://localhost:9200 \
    #         --env-var ES_API_KEY=${{ secrets.ES_API_KEY }} \
    #         --env-var ES_INDEX_NAME=${{ secrets.ES_INDEX_NAME }}

      # - name: Run API Collection
      #   run: |
      #      run collection "Sample Elasticsearch Collection" \
      #       --workingDir ./Elasticsearch_API_Collection.yaml \
      #       --env "ES_ENVIRONMENT" \
      #       --env-var "ES_URL=${{ secrets.ES_URL }}" \
      #       --env-var "ES_API_KEY=${{ secrets.ES_API_KEY }}" \
      #       --env-var "ES_INDEX_NAME=${{ secrets.ES_INDEX_NAME }}"
